---
import Layout from '../layouts/Layout.astro';
import Toplists from '../components/Toplists.astro';
---

<Layout title="トップページ">
	<div class="hero is-fullheight container">
		<div class="hero-head m-4">
			<h1 class="title has-text-centered">食卓.みんな</h1>
		</div>
		<main class="hero-body">
			<Toplists />
		</main>
	</div>
</Layout>
